<!DOCTYPE html>
<html>
  <head>

    {% load static %}

    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  </head>
  <body>
    <div class="container">
        <div class="head">
            <h1>To-Do List</h1>
            <div style="display: flex; align-items: center;">
                <h3>{{ foydalanuvchi }}</h3>
                <a href="/logout/" style="text-decoration: none; color: red;">
                Log out
                </a>
            </div>
      </div>

      <div class="task-add">
        <form id="task-form" method="post">{% csrf_token %}
            <div class="form1">
              <input type="text" name="name" placeholder="Add Task...">
              <input type="date" name="date">
              <select name="status">
                <option class="opt">
                  Not started
                </option>
                <option class="opt">
                  In progress
                </option>
                <option class="opt">
                  Completed
                </option>
              </select>
            </div>
            <div class="fomr1">
              <input type="text" name="details" placeholder="Details ...">
              <button type="submit" class="btn">Add Task</button>
            </div>
          </form>
      </div>
      <hr style="margin: 10px 5px;">

        {% for reja in rejalar %}
      <div class="task">
        <ul id="task-list">
          <li>
              <div>
                  {{ reja.name }}
              </div>
              <div>
                    <input type="text" value="{{ reja.status }}" readonly >
                    <input type="text" value="{{ reja.date }}"   readonly>
                    <button type="submit" class="edit"><a href="/edit/">Edit</a></button>
                    <button type="submit" class="delete"><a href="/edit/">Delete</a></button>
              </div>
          </li>
        </ul>
        <ul class="details">
            {{ reja.details }}
        </ul>
      </div>
        {% endfor %}

    </div>
  </body>
</html>